<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.2.98"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_107_EkranPredkosci">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="9"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CommonLayer_Spychacz]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CommonLayer_Spychacz"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[BackGround]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="BackGround"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="121978" Value=""/>
          <Text ID="121979" Value=""/>
          <Text ID="121980" Value=""/>
          <Text ID="127131" Value=""/>
          <Text ID="127132" Value=""/>
          <Text ID="127133" Value=""/>
          <Text ID="129759" Value=""/>
          <Text ID="129760" Value=""/>
          <Text ID="129761" Value=""/>
          <Text ID="131600" Value=""/>
          <Text ID="131601" Value=""/>
          <Text ID="131602" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="121978" Value=""/>
          <Text ID="121979" Value=""/>
          <Text ID="121980" Value=""/>
          <Text ID="127131" Value=""/>
          <Text ID="127132" Value=""/>
          <Text ID="127133" Value=""/>
          <Text ID="129759" Value=""/>
          <Text ID="129760" Value=""/>
          <Text ID="129761" Value=""/>
          <Text ID="131600" Value=""/>
          <Text ID="131601" Value=""/>
          <Text ID="131602" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="pl">
          <Text ID="121978" Value="Prędkość rolki krótkiej - pracy"/>
          <Text ID="121979" Value="Predkość taśmociąg 02 - pracy"/>
          <Text ID="121980" Value="Prędkość rolki długiej - pracy"/>
          <Text ID="127131" Value="Prędkość rolki krótkiej - zwalniania"/>
          <Text ID="127132" Value="Predkość taśmociąg 11 - zwalniania"/>
          <Text ID="127133" Value="Prędkość rolki długiej - zwalniania"/>
          <Text ID="129759" Value="Prędkość taśmociąg 10 - pracy"/>
          <Text ID="129760" Value="Prędkość taśmociąg 11 - pracy"/>
          <Text ID="129761" Value="Prędkość taśmociąg 01 - pracy"/>
          <Text ID="131600" Value="Predkość taśmociąg 02 - zwalniania"/>
          <Text ID="131601" Value="Prędkość taśmociąg 10 - zwalniania"/>
          <Text ID="131602" Value="Prędkość taśmociąg 01 - zwalniania"/>
        </TextLayer>
        <IndexMap>
          <Index ID="121978" Value="17"/>
          <Index ID="121979" Value="18"/>
          <Index ID="121980" Value="19"/>
          <Index ID="127131" Value="20"/>
          <Index ID="127132" Value="21"/>
          <Index ID="127133" Value="22"/>
          <Index ID="129759" Value="25"/>
          <Index ID="129760" Value="26"/>
          <Index ID="129761" Value="27"/>
          <Index ID="131600" Value="9"/>
          <Index ID="131601" Value="10"/>
          <Index ID="131602" Value="11"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_1]"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="50"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndex" Value="11"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="550"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_1]"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_11">
          <Property Name="Bitmap" Value="Source[local].Bitmap[WiR_Logo]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="80"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="252"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="350"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="393"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT4_02_RPM_Praca]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="351"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="118"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT5_02_RPM_Praca]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="351"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="168"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT6_03_RPM_Praca]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="17"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="118"/>
          <Property Name="Width" Value="275"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="18"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="392"/>
          <Property Name="Width" Value="284"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="19"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="168"/>
          <Property Name="Width" Value="286"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="33"/>
          <Property Name="Left" Value="380"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[PageNames]"/>
          <Property Name="TextIndexOffset" Value="17"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="5"/>
          <Property Name="Width" Value="264"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_3]"/>
          <Property Name="Font" Value="Source[local].Font[Status]"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="349"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndex" Value="41"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="479"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_3]"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="840"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="218"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT2_11_RPM_Zwalniania]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_18">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="840"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="118"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT5_02_RPM_Zwalniania]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="840"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="168"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT6_03_RPM_Zwalniania]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="548"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="20"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="118"/>
          <Property Name="Width" Value="275"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="548"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="21"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="218"/>
          <Property Name="Width" Value="284"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="548"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="168"/>
          <Property Name="Width" Value="286"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_13">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_7]"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="50"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="924"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndex" Value="16"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="550"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_7]"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="351"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="273"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT1_10_RPM_Praca]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="273"/>
          <Property Name="Width" Value="286"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="350"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="331"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT3_01_RPM_Praca]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="26"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="223"/>
          <Property Name="Width" Value="286"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="351"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="221"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT2_11_RPM_Praca]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="27"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="334"/>
          <Property Name="Width" Value="286"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_9]"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="527"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndex" Value="169"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="479"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_9]"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="840"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="386"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT4_02_RPM_Zwalniania]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="548"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="392"/>
          <Property Name="Width" Value="284"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="840"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="271"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT1_10_RPM_Zwalniania]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="548"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="272"/>
          <Property Name="Width" Value="286"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="840"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="329"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Sources.01_Transport.gTransport.Par.Predkosci.MT3_01_RPM_Zwalniania]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="39"/>
          <Property Name="Left" Value="548"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="331"/>
          <Property Name="Width" Value="286"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_1">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Target" Value="Back"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_3">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Wizualizacja.ButtonZapiszPredkosci]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_7">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[_108_EkranPredkosci_2]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_9">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Wizualizacja.ButtonPredkosciDomyslne]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_7]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_18]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_18]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_4]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_12]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_18]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_18]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_8]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_12]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_12]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_13]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_13]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_11]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_18]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_13]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_13]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_13]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_12]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_18]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Default].Control[Numeric_12]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[Default].Control[Numeric_13]"/>
  </TabSequence>
</Page>