<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.2.98"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_250_EkranManualOwijarka">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="5"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CommonLayer_Owijarka]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CommonLayer_Owijarka"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[BackGround]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="BackGround"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="98112" Value=""/>
          <Text ID="98113" Value=""/>
          <Text ID="101079" Value=""/>
          <Text ID="128004" Value=""/>
          <Text ID="128009" Value=""/>
          <Text ID="128010" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="98112" Value=""/>
          <Text ID="98113" Value=""/>
          <Text ID="101079" Value=""/>
          <Text ID="128004" Value=""/>
          <Text ID="128009" Value=""/>
          <Text ID="128010" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="pl">
          <Text ID="98112" Value="Przyspieszenia"/>
          <Text ID="98113" Value="Odczyt prędkości"/>
          <Text ID="101079" Value="Sterowanie"/>
          <Text ID="128004" Value="Przyspieszenia"/>
          <Text ID="128009" Value="Odczyt prędkości"/>
          <Text ID="128010" Value="Brak palety przenosnik rolkowy"/>
        </TextLayer>
        <IndexMap>
          <Index ID="98112" Value="11"/>
          <Index ID="98113" Value="12"/>
          <Index ID="101079" Value="18"/>
          <Index ID="128004" Value="23"/>
          <Index ID="128009" Value="28"/>
          <Index ID="128010" Value="29"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_11">
          <Property Name="Bitmap" Value="Source[local].Bitmap[WiR_Logo]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="80"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="252"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_86]"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="50"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndex" Value="11"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="550"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_86]"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_21">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="16"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Status]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Sources.05_Owijarka.gOwijarka.Sts.Step]"/>
          <Property Name="Left" Value="201"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Status_Owijarka]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="550"/>
          <Property Name="Width" Value="215"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_32">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="16"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="542"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndexOffset" Value="80"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="220"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_33">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="16"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="542"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndexOffset" Value="81"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="175"/>
          <Property Name="Width" Value="220"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_34">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="16"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="542"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndexOffset" Value="82"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="255"/>
          <Property Name="Width" Value="220"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_35">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="16"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="866"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndexOffset" Value="83"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="128"/>
          <Property Name="Width" Value="147"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_16">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[IO_Status]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="76"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.gCM.Owijarka.di_S37_ObecnoscPalety_owijarka]"/>
          <Property Name="Left" Value="782"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="78"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_17">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[IO_Status]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="76"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.gCM.Owijarka.di_S38_BrakPalety_owijarka]"/>
          <Property Name="Left" Value="782"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="78"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_18">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[IO_Status]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="76"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.gCM.Owijarka.di_S39_StanOwijarki_ok]"/>
          <Property Name="Left" Value="782"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="235"/>
          <Property Name="Width" Value="78"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ArrowUp]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_66]"/>
          <Property Name="Height" Value="57"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="882"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="171"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_66]"/>
          <Property Name="Width" Value="119"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="520"/>
          <Property Name="EndY" Value="80"/>
          <Property Name="StartX" Value="520"/>
          <Property Name="StartY" Value="580"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="519"/>
          <Property Name="EndY" Value="320"/>
          <Property Name="StartX" Value="40"/>
          <Property Name="StartY" Value="320"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_31">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="141"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[PageNames]"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="91"/>
          <Property Name="Width" Value="220"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="238"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndexOffset" Value="38"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="153"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="378"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="4000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="149"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT10_09RolkowyOwijarka.Set.setRPM]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="378"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="10"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="188"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT10_09RolkowyOwijarka.Set.setACC]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="439"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="10"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="188"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT10_09RolkowyOwijarka.Set.setDEC]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="238"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="193"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="238"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="12"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="233"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ArrowLeft]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_91]"/>
          <Property Name="Height" Value="57"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="57"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="167"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_91]"/>
          <Property Name="Width" Value="64"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ArrowRight]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_92]"/>
          <Property Name="Height" Value="57"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="136"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="None"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="167"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_92]"/>
          <Property Name="Width" Value="64"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial13px]"/>
          <Property Name="Height" Value="33"/>
          <Property Name="Left" Value="380"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[PageNames]"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="5"/>
          <Property Name="Width" Value="264"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="Border" Value="Source[local].Border[OutputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="378"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="229"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT10_09RolkowyOwijarka.Actual.outRPM]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="122"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_114]"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="50"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="101"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="18"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="550"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_114]"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_19">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[IO_Status]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="76"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.gCM.Owijarka.di_S35_ObecnoscPalety_rolkowy]"/>
          <Property Name="Left" Value="839"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="411"/>
          <Property Name="Width" Value="78"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_36">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="141"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[PageNames]"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="327"/>
          <Property Name="Width" Value="220"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_37">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="16"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="599"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndexOffset" Value="61"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="431"/>
          <Property Name="Width" Value="220"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="238"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Labels]"/>
          <Property Name="TextIndexOffset" Value="38"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="388"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="378"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="4000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="378"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT9_08RolkowyDuzy.Set.setRPM]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="378"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="10"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="418"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT9_08RolkowyDuzy.Set.setACC]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="Border" Value="Source[local].Border[InputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="438"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="10"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input1]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="418"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT9_08RolkowyDuzy.Set.setDEC]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_22">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="238"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="23"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="428"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_6">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ArrowLeft]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_89]"/>
          <Property Name="Height" Value="57"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="57"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="406"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_89]"/>
          <Property Name="Width" Value="64"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="Bitmap" Value="Source[local].Bitmap[ArrowRight]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_90]"/>
          <Property Name="Height" Value="57"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="136"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="None"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="406"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_90]"/>
          <Property Name="Width" Value="64"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="Border" Value="Source[local].Border[OutputBorder]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Default]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="378"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="459"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT9_08RolkowyDuzy.Actual.outRPM]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="238"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="28"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="468"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_38">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="16"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Default_big]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="599"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="29"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="501"/>
          <Property Name="Width" Value="220"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_20">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[IO_Status]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="76"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.gCM.Owijarka.di_S36_BrakPalety_rolkowy]"/>
          <Property Name="Left" Value="839"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="481"/>
          <Property Name="Width" Value="78"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="998"/>
          <Property Name="EndY" Value="376"/>
          <Property Name="StartX" Value="520"/>
          <Property Name="StartY" Value="376"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="123"/>
          <Property Name="EndY" Value="164"/>
          <Property Name="StartX" Value="53"/>
          <Property Name="StartY" Value="164"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="124"/>
          <Property Name="EndY" Value="225"/>
          <Property Name="StartX" Value="53"/>
          <Property Name="StartY" Value="225"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="123"/>
          <Property Name="EndY" Value="402"/>
          <Property Name="StartX" Value="53"/>
          <Property Name="StartY" Value="402"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="124"/>
          <Property Name="EndY" Value="464"/>
          <Property Name="StartX" Value="53"/>
          <Property Name="StartY" Value="464"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_86">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Target" Value="Back"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_66">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gCM.Owijarka.do_BlokadaOwijarki_przekaznik]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_91">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT10_09RolkowyOwijarka.Command.reverse]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_92">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT10_09RolkowyOwijarka.Command.forward]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_114">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[_300_EkranSterowanie]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_89">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT9_08RolkowyDuzy.Command.forward]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_90">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gDATA.Owijarka.MT9_08RolkowyDuzy.Command.reverse]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_7]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_11]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_12]"/>
  </TabSequence>
</Page>